/*-- scss:rules --*/
.footer {
  font-weight: bold;
  color: #aaa !important;
}

table {
  caption {
    color: #aaa !important;
  }

  thead th {
    border-bottom: 2px solid #aaa !important;
  }

  tbody td {
    border-bottom: none !important;
  }
}

.reveal.smaller {
  .callout.callout-style-default .callout-icon::before, .callout.callout-style-simple .callout-icon::before {
    height: 1rem !important;
    width: 1rem !important;
    background-size: 1rem 1rem !important;
  }
}

.custom__solo-chart{
  .cell {
    img {
      max-height: 90vh;
    }
  }
}

.fragment.blur {
  opacity: 1 !important;
  visibility: visible !important;
  filter: blur(5px);
}

.fragment.blur.visible {
  filter: none;
}

.custom__sub-item {
  margin-left: 1.5rem;
  margin-top: -1.5rem;
}

.custom__list-group {
  margin-left: 2rem;

  .fragment {
    ol, ul {
      margin-bottom: 0 !important;
    }

    .custom__sub-item {
      margin-left: 1.5rem;
      margin-top: -0.5rem;
    }
  }
}

.custom__text-center {
  text-align: center;
}

.custom__text-small {
  font-size: 1.5rem;
}
